<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Template • TodoMVC</title>
    <link rel="stylesheet" href="node_modules/todomvc-common/base.css">
    <link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<section class="todoapp" id="app">
    <header class="header">
        <h1>todos</h1>
        <input v-focus @keydown.enter="handleAddNewTodo" class="new-todo" placeholder="What needs to be done?"
               autofocus>
    </header>
    <!-- 如果没有代办项, 直接隐藏大盒子 -->
    <template v-if="todos.length">
        <section class="main">
            <!--<input @change="handleToggleAll" :checked="ToggleAllStatus" id="toggle-all" class="toggle-all" type="checkbox">-->
            <input v-model="ToggleAllStatus" id="toggle-all" class="toggle-all" type="checkbox">
            <label for="toggle-all">Mark all as complete</label>
            <ul class="todo-list">
                <!-- 当进行完成和未完成切换时,将此处遍历的todos进行改变即可 -->
                <!-- 使用计算属性缓存状态-->
                <li class="view" v-for="(todo,index) in fliterTodos"
                    :class="{ completed: todo.completed, editing: currentEditing=== todo }">
                    <div class="view">
                        <input class="toggle" type="checkbox" v-model="todo.completed">
                        <label @dblclick="handleGetEditing(todo)">{{ todo.title }}</label>
                        <button @click="handleDelTodo(index)" class="destroy"></button>
                    </div>
                    <input
                        class="edit"
                        @keydown.enter="handleSaveEdit(todo, index, $event)"
                        @blur="handleSaveEdit(todo, index, $event)"
                        @keydown.esc="handleCancelEdit"
                        :value="todo.title"
                        v-todo-focus="currentEditing === todo">
                </li>
            </ul>
        </section>
        <footer class="footer">
            <!-- 使用Vue的计算属性 -->
            <span class="todo-count"><strong>{{ remainingCount }}</strong> item left</span>
            <!-- Remove this if you don't implement routing -->
            <ul class="filters">
                <li>
                    <a :class="{selected:filterText===''}" href="#/">All</a>
                </li>
                <li>
                    <a :class="{selected:filterText==='active'}" href="#/active">Active</a>
                </li>
                <li>
                    <a :class="{selected:filterText==='completed'}" href="#/completed">Completed</a>
                </li>
            </ul>
            <!-- Hidden if no completed items are left ↓ -->
            <button class="clear-completed" @click="handleClearAllCompleted"
                    v-if="this.todos.some(todo => {return todo.completed === true;})">Clear completed
            </button>
        </footer>
    </template>
</section>
<footer class="info">
    <p>Double-click to edit a todo</p>
    <!-- Remove the below line ↓ -->
    <p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
    <!-- Change this out with your name and url ↓ -->
    <p>Created by <a href="http://todomvc.com">you</a></p>

    <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>
<!-- Scripts here. Don't remove ↓ base=> aside part js -->
<!--<script src="node_modules/todomvc-common/base.js"></script>-->
<script src="node_modules/vue/dist/vue.js"></script>
<script src="js/app.js"></script>
</body>
</html>
